border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments
body
    font-size 14px
    width 80%
    background red
div 
  border-radius 10px
  border 1px solid yellow